name: inception

services:
  mariadb:
      image: mariadb:1
      build:
        context: requirements/mariadb
      env_file: 
        - .env
      volumes:
        - data_base:/var/lib/mysql/
      secrets:
        - my_secret
        - my_other_secret
      healthcheck:
        test: ["CMD", "mariadb-admin", "ping", "-h", "localhost"]
        interval: 10s
        timeout: 5s
        retries: 5
      networks:
        - Inception_Net
      restart: on-failure

  wordpress:
      image: wordpress:1
      build:
        context: requirements/wordpress
      env_file: 
        - .env
      secrets:
        - my_other_secret
      volumes:
        - wordpress_files:/var/www/wordpress
      depends_on:
        mariadb:
          condition: service_healthy
      healthcheck:
        test: ["CMD-SHELL", "SCRIPT_NAME=/ping SCRIPT_FILENAME=/ping REQUEST_METHOD=GET cgi-fcgi -bind -connect 127.0.0.1:9000 | grep 'pong'"]
        interval: 10s
        timeout: 5s
        retries: 5
        start_period: 5s
      networks:
        - Inception_Net
      restart: on-failure

  nginx:
      image: nginx:1
      build:
        context: requirements/nginx
      env_file: 
        - .env
      ports:
        - 443:443
      volumes:
        - type: volume
          source: wordpress_files
          target: /var/www/wordpress
        - type: bind
          source: ./requirements/nginx/conf
          target: /etc/inception/
      depends_on:
        wordpress:
          condition: service_healthy
      networks:
        - Inception_Net
      restart: on-failure

  redis:
      image: redis:1
      build:
        context: requirements/bonus/redis
      networks:
        - Inception_Net
      restart: on-failure

  adminer:
      image: adminer:1
      build: requirements/bonus/Adminer
      container_name: adminer
      restart: on-failure
      ports:
        - "8080:8080"
      networks:
        - Inception_Net
      depends_on:
        - mariadb

  ftp:
      image: ftp:1
      build: requirements/bonus/FTP
      container_name: Ftp
      restart: on-failure
      env_file: 
        - .env
      ports:
        - "21:21"
        - "21100:21110"
      volumes:
        - type: volume
          source: wordpress_files
          target: /var/www/html
      networks:
        - Inception_Net
      depends_on:
        - wordpress

networks:
  Inception_Net:
    driver: bridge

secrets:
  my_secret:
    file: ../secrets/db_root_password.txt
  my_other_secret:
    file: ../secrets/db_password.txt

volumes:
  wordpress_files:
    name: wordpress_files
    driver_opts:
      type: none
      o: bind
      device: /home/naoufal/data/wordpress_files
  data_base:
    name: data_base
    driver_opts:
      type: none
      o: bind
      device: /home/naoufal/data/data_base
