name: inception

services:
  mariadb:
      image: mariadb:1
      build:
        context: requirements/mariadb
      environment:
        - MYSQL_DATABASE=${MYSQL_DATABASE}
        - MYSQL_USER=${MYSQL_USER}
      volumes:
        - data_base:/var/lib/mysql/
      secrets:
        - my_secret
        - my_other_secret
      healthcheck:
        test: ["CMD", "mariadb-admin", "ping", "-h", "localhost"]
        interval: 10s
        timeout: 5s
        retries: 5
      networks:
        - Inception_Net
      restart: on-failure

  wordpress:
      image: wordpress:1
      build:
        context: requirements/wordpress
      environment:
        - MYSQL_DATABASE=${MYSQL_DATABASE}
        - MYSQL_USER=${MYSQL_USER}
        - WP_SITE_URL=${WP_SITE_URL}
        - WP_SITE_TITLE=${WP_SITE_TITLE}
        - WP_ADMIN_USER=${WP_ADMIN_USER}
        - WP_ADMIN_EMAIL=${WP_ADMIN_EMAIL}
        - WP_DEFAULT_USER=${WP_DEFAULT_USER}
        - WP_DEFAULT_USER_EMAIL=${WP_DEFAULT_USER_EMAIL}
        - WP_DEFAULT_USER_ROLE=${WP_DEFAULT_USER_ROLE}
        - WP_DEFAULT_THEME=${WP_DEFAULT_THEME}
        - WP_REDIS_HOST=${WP_REDIS_HOST}
        - WP_REDIS_PORT=${WP_REDIS_PORT}
      secrets:
        - my_other_secret
        - wp_admin_password
      volumes:
        - wordpress_files:/var/www/wordpress
      depends_on:
        mariadb:
          condition: service_healthy
      healthcheck:
        test: ["CMD-SHELL", "SCRIPT_NAME=/ping SCRIPT_FILENAME=/ping REQUEST_METHOD=GET cgi-fcgi -bind -connect 127.0.0.1:9000 | grep 'pong'"]
        interval: 10s
        timeout: 5s
        retries: 5
        start_period: 5s
      networks:
        - Inception_Net
      restart: on-failure

  nginx:
      image: nginx:1
      build:
        context: requirements/nginx
      environment:
        - DOMAIN_NAME=${DOMAIN_NAME}
        - SSL_COUNTRY=${SSL_COUNTRY}
        - SSL_STATE=${SSL_STATE}
        - SSL_ORGANIZATION=${SSL_ORGANIZATION}
      ports:
        - 443:443
      volumes:
        - type: volume
          source: wordpress_files
          target: /var/www/wordpress
        - type: bind
          source: ./requirements/nginx/conf
          target: /etc/inception/
      depends_on:
        wordpress:
          condition: service_healthy
      networks:
        - Inception_Net
      healthcheck:
        test: ["CMD", "curl", "-f", "-k", "https://localhost"]
        interval: 30s
        timeout: 10s
        retries: 3
        start_period: 30s
      restart: on-failure

  redis:
      image: redis:1
      build:
        context: requirements/bonus/redis
      networks:
        - Inception_Net
      restart: on-failure

  adminer:
      image: adminer:1
      build: requirements/bonus/Adminer
      container_name: adminer
      restart: on-failure
      ports:
        - "8080:8080"
      networks:
        - Inception_Net
      depends_on:
        mariadb:
          condition: service_healthy

  ftp:
      image: ftp:1
      build: requirements/bonus/FTP
      container_name: Ftp
      restart: on-failure
      environment:
        - FTP_USER=${FTP_USER}
      secrets:
        - ftp_password
      ports:
        - "21:21"
        - "21100:21110"
      volumes:
        - type: volume
          source: wordpress_files
          target: /var/www/html
      networks:
        - Inception_Net
      depends_on:
        wordpress:
          condition: service_healthy


  redis-commander:
      image: redis-commander:1
      build: requirements/bonus/redis-commander
      container_name: redis-commander
      restart: on-failure
      ports:
        - "8081:8081"
      networks:
        - Inception_Net
      depends_on:
        - redis

  website:
      image: website:1
      build: requirements/bonus/website
      container_name: website
      restart: on-failure
      ports:
        - "1313:1313"
      networks:
        - Inception_Net

networks:
  Inception_Net:
    name: Inception

secrets:
  my_secret:
    file: ../secrets/db_root_password.txt
  my_other_secret:
    file: ../secrets/db_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  ftp_password:
    file: ../secrets/ftp_password.txt

volumes:
  wordpress_files:
    name: wordpress_files
    driver_opts:
      type: none
      o: bind
      device: ${DATA_PATH}/wordpress_files
  data_base:
    name: data_base
    driver_opts:
      type: none
      o: bind
      device: ${DATA_PATH}/data_base
